<div class="dashboard-background">
  <div class="container">
    <h2 class="welcome mt-5 mb-4"><i class="fa-solid fa-hat-wizard fa-beat-fade fa-lg"></i> Welcome, <%= current_user.fullname %></h2>

    <div class="row gap-1">
      <div class="dashboard-container col-6">
        <h3 id="activities" class="mb-4 font-dancing">Your posted activities:</h3>
        <%= render 'activities/partials/cards_activities_users' %>
        <%= link_to 'Post a new activity ''<i class="fa-solid fa-wand-sparkles" style="color: #FEFCFC;"></i>'.html_safe, new_activity_path, class: "btn btn-ghost-dashboard mt-3 mb-4" %>
      </div>
      <div class="dashboard-container col-6">
        <h3 id="activities" class="mb-4 font-dancing">Your inscriptions:</h3>
        <%= render 'activities/partials/bookings' %>
        <%= link_to 'Register to a new activity ''<i class="fa-solid fa-wand-sparkles" style="color: #FEFCFC;"></i>'.html_safe, root_path, class: "btn btn-ghost-dashboard mt-3 mb-4" %>

      </div>
    </div>
  </div>
</div>
