
  <%= render 'shared/partials/navbar' %>

  <%= render 'shared/partials/banner' %>

  <div data-controller="searchbar">
    <%= render 'shared/partials/search_form' %>

    <%= turbo_frame_tag :activities, target: "_top" do %>
      <div class="container">
        <%= render 'activities/partials/cards_activities' %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/partials/footer' %>
