<div class="show-background">

  <div class="show-container" style="text-align: center">
    <h2 id="title"><%= @activity.title %></h2>

      <div class="text-container">
        <%= cl_image_tag @activity.photo.key, height: 300, width: 400, crop: :fill %>
        <p id="theme"><%= @activity.theme %></p>
        <p id="date">📅<%= @activity.date %></p>
        <p id="description"><%= @activity.description %></p>
        <h2 id="price" class="card-trip-pricing mb-4"><%= @activity.price %>$</h2>
      </div>
        
     <button type="button" class="btn btn-ghost d-grid gap-2 col-2 mx-auto" data-bs-toggle="modal" data-bs-target="#login-modal">
        RESERVIUS🪄
     </button>

     <%= render 'bookings/modal' %>
  </div>
  
</div>
