<div class="show-background">
  <div class="form-container">
    <h1>ADDUM ACTIVITIS</h1>
    <%= simple_form_for(@activity) do |f| %>
    <div class="input-case">
      <%= f.input :title, label: false, placeholder: "Activity title" %>
    </div>
    <div class="input-case">
      <%= f.input :theme, label: false, placeholder: "Activity theme"  %>
    </div>
    <div class="input-case">
      <%= f.input :price, label: false, placeholder: "Your Price"  %>
    </div>
    <div class="input-case calendar-position">
      <%= f.input :date, html5: true, label: false %>
    </div>
    <div class="input-case">
      <%= f.input :summary, label: false, placeholder: "Activity summary"  %>
    </div>
    <div class="input-case">
      <%= f.input :description, label: false, placeholder: "Activity Description"  %>
    </div>
    <div class="input-case">
      <%= f.input :photo, as: :file, label: false %>
    </div>
    <div class="btn btn-ghost">
      <%= f.submit value: "PROPOSITUM"%>
    </div>
    <% end %>
  </div>
</div>
