<!DOCTYPE html>
<html>
  <head>
    <title>HOGWARTSAcademy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='body'>
    <%= render 'shared/partials/navbar' %>



    <div class='yield'>
      <%= yield %>
    </div>

    <%= render 'shared/partials/footer' %>

  </body>

</html>
